<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <title>Cari Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid" th:align="center">
    <div class="row">
        <div class="col-md-12" th:align="center">
            <br><h2>Masukkan Diagnosis</h2><br>
            <form th:action="@{/pasien/cari/lakilaki-perempuan}" method="GET">
                <select th:name="idPenyakit">
                    <option th:value="'pilih'" selected> --Pilih Diagnosis Penyakit-- </option>
                    <option th:each="diagnosis: ${listDiagnosis}" th:text="${diagnosis.namaPenyakit}" th:value="${diagnosis.idPenyakit}"></option>
                </select>
                <button type="submit" class="btn btn-primary">Cari Pasien</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>