<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <title>View Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid" th:align="center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">  Detail Data Pasien</div>
                <div class="card-body">
                    <table class="table order-list">
                        <tbody>
                            <tr>
                                <th>
                                    <a th:href="@{/}"> Kembali ke beranda </a>
                                </th>
                            </tr>
                            <tr>
                                <td>Nama</td>
                                <td th:text="${pasien.namaPasien}"></td>
                            </tr>
                            <tr>
                                <td>NIK</td>
                                <td th:text="${pasien.nikPasien}"></td>
                            </tr>
                            <tr>
                                <td>Kode</td>
                                <td th:text="${pasien.kodePasien}"></td>
                            </tr>
                            <tr>
                                <td>Jenis Kelamin</td>
                                <td th:text="${pasien.jenisKelamin} == 1 ? 'Laki-laki' : 'Perempuan'"></td>
                            </tr>
                            <tr>
                                <td>Tanggal Lahir</td>
                                <td th:text="${pasien.tglLahir}"></td>
                            </tr>
                            <tr>
                                <td>Tempat Lahir</td>
                                <td th:text="${pasien.tempatLahir}"></td>
                            </tr>
                            <tr>
                                <td>Emergency Contact</td>
                                <td th:text="${pasien.emergencyContact.namaEmergencyContact} + ' - ' + ${pasien.emergencyContact.NIKEmergencyContact} + ' - ' + ${pasien.emergencyContact.noTelp}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
        <br>
    <div class="container-fluid" th:align="center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" th:align="center">
            <div class="card" th:align="center">
                <div class="card-header bg-dark text-white"> Asuransi Milik Pasien </div>
                <div class="card-body">
                    <table class="table order-list">
                        <tbody>
                        <tr th:each="pasienAsuransi, iterationStatus : ${listAsuransi}">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${pasienAsuransi.asuransi.namaAsuransi}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>
</html>