<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <title>View Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <h2>Detail Data Pasien</h2>
        <h3 th:text="'Nama: ' + ${pasien.namaPasien}"></h3>
        <h3 th:text="'NIK: ' + ${pasien.NIKPasien}"></h3>
        <h3 th:text="'Kode: ' + ${pasien.jenisKelamin}"></h3>
        <h3 th:text="'Jenis Kelamin: ' + ${pasien.kodePasien}"></h3>
        <h3 th:text="'Tanggal Lahir: ' + ${pasien.tempatLahir}"></h3>
        <h3 th:text="'Tempat Lahir: ' + ${pasien.tglLahir}"></h3>
        <h3 th:text="'Emergency Contact: ' + ${pasien.emergencyContact.noTelp}"></h3>
    </div>
</body>
</html>