<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <title>View Diagnosis Penyakit</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white">  Detail Data Diagnosis Penyakit</div>
                <div class="card-body">
                    <table class="table order-list">
                        <tbody>
                        <tr>
                            <th>
                                <a th:href="@{/}"> Kembali ke beranda </a>
                            </th>
                        </tr>
                        <tr>
                            <td>Nama Penyakit</td>
                            <td th:text="${diagnosisPenyakit.namaPenyakit}"></td>
                        </tr>
                        <tr>
                            <td>Kode Penyakit</td>
                            <td th:text="${diagnosisPenyakit.kodePenyakit}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-dark text-white"> Pasien yang terdiagnosa </div>
                    <div class="card-body">
                        <table class="table order-list">
                            <tbody>
                            <tr th:each="pasienDiagnosis, iterationStatus : ${listPasienDiagnosis}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${pasienDiagnosis.pasien.namaPasien} + ' - Kode:' + ${pasienDiagnosis.pasien.kodePasien}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>